<!DOCTYPE html>
<html>
    <head>
        <title>Log in - Readable.io</title>
        
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,800' rel='stylesheet' type='text/css'>
        <link href="main.css" rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <div class="top body">
            <div class="solid wrapper">
                <div class="content" id="content">
                    <p>
                        <form id="login" action="/login" method="POST">
                            <input type="text" name="user" placeholder="Email address">
                        </form>
                    </p>
                </div>
                
                <div class="footer">
                    <div class="faded wrapper">
                        Copyright, fools!
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>